<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nuevo Proyecto</title>

  <!-- Custom fonts for this theme -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{{url_for('static',filename='css/freelancer.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/estilos.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-warning text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a href="/" class="navbar-brand js-scroll-trigger text-center" style="color:#FFFF;" >Home Design</a>
      <h><a href="/logout/">Salir</a></h>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>

  <!-- Masthead -->
   <!-- Masthead -->
  <header class="masthead text-white text-center" style="background-color: #004c6a;">
    <div class="container">
    <div class="col-sm-12">
       <a href="/materialesproyectos">ir a lista de materiales generales</a>
       <br/>
       <a href="/edit_costos">imprimir reporte en PDF</a>
      <h1 class="page-section-heading text-center text-uppercase text-white mb-0">{{titulo}}</h1>
    </div>

  <form action="{{rutaAgregar}}" method="post">
   <div class="row"> 

    <input  name="token" value="fdfdsfdshj343245rgtrtgr" type="hidden">
    <div class="col-sm-11" style="padding-top: 30px; ">
    <input class="form-control" id="nombre_proyecto" name="nombre" placeholder="Nombre" type="text">
   {% if rutaAgregar=='/nuevopresupuesto/' %}
        {% if sizedata>0 %}   
     <input name="nombre_proyecto" value="{% print(session['nombre_proyecto']) %}" type="hidden"/>
     <input name="id_proyecto" value="{% print(session['id_proyecto']) %}" type="hidden"/>
      {%endif%}
    {% endif %}
    </div> 
    <div class="col-sm-1">
      <input type="submit" class="botonplus" value=""/>
    </div>
  </div>
  </form>
            <!-- Menu Principal -->

      {% if rutaAgregar=='/nuevoprojecto/' %}
        {% for proyect in datos %}    
        
          <div class="boton" id="botonnew">
            <form action="/api/proyecto/delete" method="post">
                <input type="submit" class="botondelete" value/>
                <input type="hidden" name="id_proyecto" value="{%  print(proyect[0]) %}" />
            </form>
            <form action="/api/presupuesto/" method="post">
            <input type="hidden" name="id_proyecto" value="{%  print(proyect[0]) %}" />
            <input type="hidden" name="nombre_proyecto" value="{% print(proyect[1]) %}" />
            <input type="submit" class="botonproyecto" value/>
            <span class="NombreProyecto"  ><p>{% print(proyect[1]) %}</br></br></p></span>
          </form>
          </div>
           {%endfor%}
        {% elif rutaAgregar=='/nuevopresupuesto/' %}
             {% for presupuesto in datos %}    
          
          <div class="boton" id="botonnew">
            <form action="/api/presupuesto/delete" method="post">
              <input type="submit" class="botondelete" value/>
              <input type="hidden" name="id_presupuesto" value="{%  print(presupuesto[0]) %}" />
            </form>
            <form action="/api/modulo/" method="post">
            <input type="submit" class="botonproyecto" value/>
            <input type="hidden" name="id_presupuesto" value="{%  print(presupuesto[0]) %}" />
            <input type="hidden" name="nombre_presupuesto" value="{% print(presupuesto[1]) %}" />
            <span class="NombreProyecto" name="nombre_proyectos" value="{% print(presupuesto[1]) %}" ><p>{% print(presupuesto[1]) %}</br></br></p></span>
          </form>
          
          </div>
      
      {%endfor%}
      {% elif rutaAgregar=='/nuevosubmodulo/' %}
         {% for submodulo in datos %}    
          
          <div class="boton" id="botonnew">
              <form action="/api/submodulo/delete" method="post">
                <input type="submit" class="botondelete" value/>
                <input type="hidden" name="id_submodulo" value="{%  print(submodulo[0]) %}" />
              </form>
            <form action="/api/materialsub/" method="post">
            <input type="submit" class="botonproyecto" value=""/>
            <input type="hidden" name="id_submodulo" value="{%  print(submodulo[0]) %}" />
            <input type="hidden" name="nombre_submodulo" value="{% print(submodulo[1]) %}" />
            <span class="NombreProyecto" name="nombre_submodulo" value="{% print(submodulo[1]) %}" ><p>{% print(submodulo[1]) %}</br></br></p></span>
          </form>
          </div>
      
      {%endfor%}
      {% elif rutaAgregar=='/nuevomodulo/' %}
         {% for modulo in datos %}    
          
          <div class="boton" id="botonnew">
              <form action="/api/modulo/delete" method="post">
                <input type="submit" class="botondelete" value/>
                <input type="hidden" name="id_modulo" value="{%  print(modulo[0]) %}" />
              </form>
            <form action="/api/submodulo/" method="post">
            <input type="submit" class="botonproyecto" value=""/>
            <input type="hidden" name="id_modulo" value="{%  print(modulo[0]) %}" />
            <input type="hidden" name="nombre_modulo" value="{% print(modulo[1]) %}" />
            <span class="NombreProyecto" name="nombre_modulo" value="{% print(modulo[1]) %}" ><p>{% print(modulo[1]) %} </br></br></p></span>
            </form>
            
          </div>
      {%endfor%}
       {% elif rutaAgregar=='/nuevomaterialsub/' %}
         {% for material in datos %}    
          
          <div class="boton" id="botonnew" >
              <form action="/api/material/delete" method="post">
                <input type="submit" class="botondelete" value/>
                <input type="hidden" name="id_material_sub" value="{%  print(material[0]) %}" />
              </form>
            <form action="/api/listamateriales/" method="post">
            <input type="submit" class="botonproyecto" value=""/>
            <input type="hidden" name="id_material_sub" value="{%  print(material[0]) %}" />
            <input type="hidden" name="nombre_material" value="{% print(material[1]) %}" />
            <span class="NombreProyecto" name="nombre_material" value="{% print(material[1]) %}" ><p>{% print(material[1]) %}  </br></br></p></span>
          </form>
          
          </div>
      {%endfor%}
  <!-- Bootstrap core JavaScript -->
      {%endif%}
  
  </header>
   

  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{{url_for('static',filename='js/jqBootstrapValidation.js')}}"></script>
  <script src="{{url_for('static',filename='js/contact_me.js')}}"></script>
  <script src="{{url_for('static',filename='js/contador.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static',filename='js/freelancer.min.js')}}"></script>

</body>

</html>
